@page "/editalert"

<PageTitle>Edit Alert</PageTitle>

<div class="container">
    <div class="@GetStyle("Form") form-grid">
        <label>Reporter:</label>
        <input type="text" style="@GetStyle("Input")" readonly="readonly" @bind="Alert.Reporter" />

        <label>Occured:</label>
        <input type="text" style="@GetStyle("Input")" readonly="readonly" @bind="Alert.AlertDate" />

        <label>Server:</label>
        <input type="text" style="@GetStyle("Input")" readonly="readonly" value="@Alert.Server.Name" />

        <label>Component:</label>
        <input type="text" style="@GetStyle("Input")" readonly="readonly" @bind="Alert.Component" />

        <label>Component Status:</label>
        <input type="text" style="@GetStyle("Input")" readonly="readonly" @bind="Alert.ComponentStatus" />

        <label>Alert Status:</label>
        <select style="@GetStyle("Input")" @bind="Alert.AlertStatus">
            <option value="Reported">Reported</option>
            <option value="Investigating">Investigating</option>
            <option value="Resolved">Resolved</option>
        </select>

        <div class="form-full-row">
            @if (Loading)
            {
                <div class="spinner-border text-primary" role="status"></div>
            }

            else
            {
                <button class="btn btn-primary" @onclick="SaveClick">Save</button>
            }
        </div>
    </div>
</div>